{% extends 'base_generic.html' %}
{% block title %} <div class="text-navy">Locations in {{ organization }}</div> {% endblock %}     
<!-- box-header -->
<div class="row">
  <div class="col-md-12">
    {% block link %} <div class="pull-right"><button class="btn bg-blue-active show-form" data-url={% url 'org_create' %}><i class="fa fa-plus"> </i> New Location</button></div>{% endblock %}
   {% block content %}
    <!-- box-body -->
      <table class="table table-hover" id="loc-table" align="center">
        <thead>
          <tr class="bg-green-gradient">
            <th>SN</th>
            <th>Location</th>
            <th>Description</th>
            {% if org_th %}
            <th>Name of Organization</th>
            {% else %}
             <th>No. of Items</th>
            {% endif %}
            <th>Action</th>
          </tr>
        </thead> 
        <tbody class=" bg-warning" id="loc-table">
           {% include 'catalog/location_by_organization.html' %}
        </tbody>
      </table>
  <!-- /.box-body -->
</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="modal-org">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">

      </div>
      
    </div>
  </div>
{% endblock %}